/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #80b2e0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Giving our navbar some padding and a background color */
  .navbar {
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .card {
    padding: 10px;
    border-radius: 10px;
  }
.col-md-12 {
  text-align: center;
}
.col-md-6 {
  text-align: center;
}

